{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Confirmar exclusão</title>
</head>
<body>
    <h1>Excluir Notícia</h1>
    <p>Tem certeza que deseja excluir a notícia: "<strong>{{ noticia.titulo }}</strong>"?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="excluir">Sim, excluir</button>
        <button type="button" onclick="window.location.href='{% url 'inicial' %}'">
            Cancelar
        </button>
    </form>
</body>
</html>
