<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ noticia.titulo }}</title>
</head>
<body>
    <h1>{{ noticia.titulo }}</h1>
    <p>{{ noticia.materia }}</p>
    <small>
        Autor: {{ noticia.autor }} |
        Publicada em: {{ noticia.data_criacao|date:"d/m/Y H:i" }}
    </small>
    <hr>

    <h2>Respostas</h2>
    {% if noticia.resposta_set.all %}
        <ul>
            {% for resposta in noticia.resposta_set.all %}
                <li>
                    {{ resposta.texto }} <br>
                    <small>
                        Por: {{ resposta.usuario }} |
                        {{ resposta.data_criacao|date:"d/m/Y H:i" }}
                    </small>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há respostas para esta notícia.</p>
    {% endif %}

    <hr>
    <a href="{% url 'inicial' %}">⬅ Voltar para lista de notícias</a>
</body>
</html>
